<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/axios.min.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    <style>
        .boardUpdate {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="boardUpdate" id="update-form">
    <form action="/board/update" method="post" name="updateForm">
        <input type="hidden" name="id" th:value="${board.id}" class="form-control" readonly>
        writer: <input type="text" name="boardWriter" th:value="${board.boardWriter}" class="form-control" readonly>
        pass: <input type="text" name="boardPass" id="boardPass" class="form-control" placeholder="비밀번호">
        title: <input type="text" name="boardTitle" th:value="${board.boardTitle}" class="form-control">
        contents: <textarea name="boardContents" cols="30" rows="10" class="form-control"
                            th:text="${board.boardContents}"></textarea>
        <input type="hidden" name="boardHits" th:value="${board.boardHits}">
        <input type="button" value="수정" onclick="boardUpdate()" class="btn btn-primary">
        <input type="button" value="수정(axios)" onclick="boardUpdateAxios()" class="btn btn-primary">
    </form>
</div>
</body>
<script th:inline="javascript">
    const boardUpdate = () => {
        const passDB = [[${board.boardPass}]];
        const pass = document.getElementById("boardPass").value;
        if (passDB == pass) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 일치하지 않습니다.")
        }
    }

    const boardUpdateAxios = () => {
        const id = document.querySelector('input[name="id"]').value;
        const title = document.getElementsByName("boardTitle")[0].value;
        // const aa = document.querySelector(".aa").value; // .aa 는 class
        // const aa = document.querySelector("#aa").value; // #aa 는 id
        const writer = document.querySelector('input[name="boardWriter"]').value;
        const pass = document.querySelector('input[name="boardPass"]').value;
        const contents = document.querySelector('input[name="boardContents"]').value;
        const hits = document.querySelector('input[name="boardHits"]').value;
        const passDB = [[${board.boardPass}]];
        if (pass == passDB) {
            axios({
                method: "put",
                url: "/board/" + id,
                data: {
                    id: id,
                    boardTitle: title,
                    boardWriter: writer,
                    boardPass: pass,
                    boardContents: contents,
                    boardHits: hits
                }
            }).then(res => {
                console.log("수정 성공");
                location.href = "/board/" + id;
            }).catch(err => {
                alert("수정 실패");
            })
        } else {
            alert("비밀번호가 일치하지 않습니다.")
        }
    }
</script>
</html>